

* {
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: rgb(41, 144, 144);
    font-family: 'Bitcount Grid Single', Helvetica, sans-serif;
    font-size: 19px;
    line-height: 1.6; /* adds space between lines */
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em; /* scales font size */
    text-align: center; /* Centers the text horizontally */;
    color: beige;
}

p, li, figcaption, figure {
    text-align: center;
    color: rgb(223, 211, 179);
}

section {
    background-color: aquamarine (9255, 255, 255, 0.4);
    border-style: ridge;
    border-width: 18px;
    border-color: rgb(44, 182, 182);
    border-radius: 10
px;
}

ul, ol {
    margin-left: 1em;
}

