/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables for color */
:root {
    --primary: #7b4b2d;
    --primary-tint: #a06c4b;
    --primary-shade: #52280e;

    --light: #ffffff;
    --dark: #363029;
    
    --muted: #f8f6f5f3;
    --muted-tint: #f8f6f5;
    --muted-shade: #f8f6f585;

    --font-normal: Roboto, Arial, sans-serif;
    --font-heading: "Noto Serif", serif;

    --space-0: 0; /* 0px */
    --space-1: 0.5rem; /* 8px */
    --space-2: 1rem; /* 16px */
    --space-3: 2rem; /* 32 */
    --shadow-dark: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
    --shadow-light: 0 0.1rem 0.2rem 0.1rem rgba(255, 255, 255, 0.5);

}
/* CSS reset*/
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-normal);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}
/*************** Buttons ******************/
.btn{
    border: none;
    border-radius: var(--space-2);
    padding: var(--space-1) var(--space-2);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--light);
}
.btn-primary:hover {
    background-color: var(--primary-tint);
}
.btn-primary:active {
    background-color: var(--primary-shade);
}

.btn-secondary {
    background-color: var(--muted);
    color: var(--dark);
}
.btn-secondary:hover {
    background-color: var(--muted-shade);
}
.btn-secondary:active {
    background-color: var(--muted-tint);
}

.link {
    color: var(--primary);
    text-decoration: underline;
}
.link:hover {
    color: var(--primary-tint);
}
.link:active {
    color: var(--primary-shade);
}

/*************** colors ******************/
.bg-primary {background-color: var(--primary);}

.bg-light {background-color: var(--light);}

.bg-dark {background-color: var(--dark);}

.bg-muted {background-color: var(--muted);}


.text-primary {color: var(--primary);}

.text-light {color: var(--light);}

.text-dark {color: var(--dark);}

.text-muted {color: var(--muted);}

.shadow-dark { box-shadow: var(--shadow-dark);}
.shadow-light { box-shadow: var(--shadow-light);}

/*************** Components ******************/
.product-image {
    position: relative;
}

.product-image img {
    aspect-ratio: 16/5;
    width: 100%;
    object-fit: cover;
    border: 4px solid var(--light);
    border-radius: var(--space-1);

    box-shadow: var(--shadow-dark);
}

.product-image .product-tag {
    background-color: var(--dark);
    color: var(--light);
    box-shadow: var(--shadow-light);

    padding: var(--space-1) var(--space-2);
    border-radius: var(--space-3);

    position: absolute;
    top: var(--space-2);
    left: var(--space-2);
}

.tags {
    display: flex;
    gap: var(--space-1);
    list-style: none;
}

.tag .tag-item {
    background-color: var(--primary);
    color: var(--light);
    text-decoration: none;

    border-radius: var(--space-2);
    padding: var(--space-1) var(--space-2);
}
/*************** Layout ******************/
.container {
    max-width: 1280px;
    margin: var(--space-1) auto var(--space-0);
}

.d-flex { display: flex; }

.flex-between { justify-content: space-between; }

.grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*************** Spacing ******************/
.m-0 { margin: var(--space-0);}
.m-1 { margin: var(--space-1);}
.m-2 { margin: var(--space-2);}
.m-3 { margin: var(--space-3);}

.p-0 { padding: var(--space-0);}
.p-1 { padding: var(--space-1);}
.p-2 { padding: var(--space-2);}
.p-3 { padding: var(--space-3);}

.gap-0 { gap: var(--space-0);}
.gap-1 { gap: var(--space-1);}
.gap-2 { gap: var(--space-2);}
.gap-3 { gap: var(--space-3);}

/*************** SWATCHES ******************/

.swatches {

display: flex;
}
/* how to make a cube */
.swatch .swatch-value {
    aspect-ratio: 1/1;
    width: 4rem;
    border-radius: 100%;
    box-shadow: var(--shadow-dark);

}

.swatch .swatch-name {
    text-align: center;
}